@model IEnumerable<SeniorProject.Models.Review> 

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductRating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
           @foreach(var item in Model){
        <tr>
            <td>
                @Html.DisplayFor(model => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductReview)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductRating)
            </td>
         
        </tr>
}
    </tbody>
</table>
