
@model SeniorProject.Models.Product
@using SeniorProject.Models


@{
    ViewData["Title"] = "Show";
}


@{
    int ProductId = @Model.Id;
    ViewBag.Parameter = ProductId;
}
    <div class="singleProduct">
        <div >
                <img class ="product-img" src='~/Assets/@Html.DisplayFor(model => model.Img)'>
            </div>
        <div class="col-sm-4">
            <h1 class="col-sm-12">
                @Html.DisplayFor(model => model.Name)
            </h1>
           
            <h2 class="col-sm-12">
                @Html.DisplayFor(model => model.Color)
            </h2>
             <h2 class="col-sm-12">
                $@Html.DisplayFor(model => model.Price)
            </h2>
            
            <div class="col-sm-12">
                    <a class="add-to-cart" asp-controller="Account" asp-action="AddToCart" asp-route-Id="@Model.Id" asp-route-Price="@Model.Price" asp-route-Img="@Model.Img" asp-route-Name="@Model.Name">Add to Cart</a> 
            </div>
            @* <partial name="../Review/Index.cshtml" model="Model.Reviews" /> *@
     </div>
     @{
        @* foreach (var review in Model.Reviews){ *@

        Html.Partial("../Review/Index.cshtml", new Review()); 
     }
     </div>

@{

}